# ignore environment variable files
*.env 
backend/.env
frontend/.env

# ignore data directories
backend/storage_data/
postgres_data/
redis_data/
storage_data/
data/

*.pyc
*__pycache__/
*.pyo
*.sqlite3
*.log

# backend/app/__pycache__/__init__.cpython-313.pyc
# backend/app/routes/__pycache__/__init__.cpython-313.pyc
# backend/app/__pycache__/__init__.cpython-313.pyc
# backend/app/routes/__pycache__/storage_routes.cpython-313.pyc
# backend/app/__pycache__/__init__.cpython-313.pyc
# backend/app/__pycache__/__init__.cpython-313.pyc
