version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: edu_pg
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    container_name: edu_minio
    restart: always
    env_file:
      - .env
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./storage_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:7
    container_name: edu_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data

  backend:
    build: ./backend
    container_name: edu_backend
    restart: always
    environment:
      - ROLE=backend
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  worker:
    build: ./backend
    container_name: edu_worker
    restart: always
    environment:
      - ROLE=worker
    env_file:
      - ./backend/.env
    depends_on:
      - backend
      - redis
    volumes:
      - ./backend:/app



volumes:
  postgres_data:
  storage_data:
  redis_data:
