
services:
  postgres:
    image: postgres:16
    container_name: edu_pg
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  minio:
    image: minio/minio
    container_name: edu_minio
    restart: always
    env_file:
      - .env
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./storage_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:7
    container_name: edu_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data

  backend:
    build: ./backend
    container_name: edu_backend
    restart: always
    environment:
      - ROLE=backend
      - PYTHONPATH=/app:/pipeline 
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ../educational_dubbing_pipeline_tr:/pipeline  # <- local model repo
      - ./storage/uploads:/data/uploads            # user uploads
      - ./storage/outputs:/data/outputs

  worker:
    user: appuser
    build: ./backend
    container_name: edu_worker
    restart: always
    environment:
      - ROLE=worker
      - PYTHONPATH=/app:/pipeline 
      - CUDA_VISIBLE_DEVICES=0
      - CELERYD_PREFETCH_MULTIPLIER=1   #prevent the worker from hoarding tasks while one is running.
      - CELERY_ACKS_LATE=true  
    env_file:
      - ./backend/.env
    depends_on:
      - backend
      - redis
    command: celery -A app.celery_app:celery_app worker -Q gpu,default --loglevel=info --concurrency=1

    volumes:
      - ./backend:/app
      - ../educational_dubbing_pipeline_tr:/pipeline  # <- local model repo
      - ./storage/uploads:/data/uploads            # user uploads
      - ./storage/outputs:/data/outputs
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
    gpus: all



volumes:
  postgres_data:
  storage_data:
  redis_data:
