version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: edu_pg
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: edu_minio
    restart: always
    env_file:
      - .env
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./storage_data:/data

  redis:
    image: redis:7
    container_name: edu_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data

  backend:
    build: ./backend
    container_name: edu_backend
    restart: always
    depends_on:
      - postgres
      - redis
      - minio
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    command: >
      bash -c "
        flask db upgrade &&
        python run.py
      "
